# Node Dependencies
node_modules/

# Maven & Build outputs
target/
build/
*.jar
*.war
*.ear
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE & Editor files (IntelliJ, VS Code, STS, NetBeans)
.idea/
*.iws
*.iml
*.ipr
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# System & OS Files
.DS_Store
Thumbs.db

# Logs
*.log
